<template>
  <div>
    <div class="card w-full bg-stone-50 text-stone-900 rounded-tl-none rounded-tr-none">
      <div class="card-body">
        My first time driving on a track (TT Circuit Assen) with my N/A D14 setup.
        <iframe title="vrij_rijden_time-attack_assen_12_october_2008 (360p)" width="100%" src="https://tube.sebastix.com/videos/embed/c3b5dfc4-8b67-403f-b945-41ff52538e77" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
        <ul class="list-disc">
          <li>Engine type:	D14Z1</li>
          <li>Displacement:	1396cc</li>
          <li>Boost: 6 psi / 0.4 bar</li>
          <li>Compression ratio:	~9.5:1</li>
          <li>Bore & stroke:	75mm x 79mm</li>
          <li>Max horsepower:	~203.1hp @ 6965rpm</li>
          <li>Max torque:	~206.5Nm @ 6815rpm</li>
          <li>Weight:	~920kg without driver</li>
          <li>Intake:	Jenvey individual throttle bodies 42mm Jenvey airbox</li>
          <li>Cylinder head:	milled, 3-angle valve job, phosphorus bronze valve guides</li>
          <li>Valves:	OMI-Performance high compression valves</li>
          <li>Valvesprings:	OMI-Performance SPEC1 valvesprings</li>
          <li>Retainers:	OMI-Performance titanium retainers</li>
          <li>Camshaft(s):	regrinded D14 cam by NEWMAN</li>
          <li>Camgear(s):	HKS camgear</li>
          <li>Pistons:	stock</li>
          <li>Connecting rods:	stock</li>
          <li>Crankshaft:	stock</li>
          <li>Turbo: SSAC turbo kit T04E Turbo T3/T4</li>
          <ul>
            <li>.57 compressor wheel trim</li>
            <li>.50 A/R compressor</li>
            <li>.63 A/R turbine</li>
          </ul>
          <li>intercooler 680mm*480mm*180mm</li>
          <li>2,5" stainless steel piping</li>
          <li>38mm wastegate with 4psi spring</li>
          <li>Header:	custom mini-ramhorn</li>
          <li>Exhaust: 3" downpipe</li>
          <li>custom 2,5" and 200CELL cat</li>
          <li>Transmission:	original Honda D13 S20 gearbox</li>
          <li>Clutch:	Fidanza 6 puck</li>
          <li>Flywheel:	F1 racing aluminium</li>
          <li>ECU Management:	P06 OBD1 with NEPTUNE management</li>
          <li>Other:	Bosch 440cc fuel injectors</li>
          <li>Setrab oil cooler</li>
        </ul>
      </div>
    </div>
    <Cusdis />
  </div>
</template>