<template>
  <div>
    <div class="card w-full bg-stone-50 text-stone-900 rounded-tl-none rounded-tr-none">
      <div class="card-body">
        Two steady laps at Circuit Park Zandvoort before my custom gearbox setup.
        <iframe title="" width="100%" src="https://tube.sebastix.com/videos/embed/f78a6a09-96f0-41d9-8688-a5c9a2558e71" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
        <strong>Shortblock: D16Z6</strong>
        <ul class="list-disc">
          <li>Pistons: SRP #149186 forged dished 75.5mm</li>
          <li>Connecting rods: Eagle H-Beam CRS539A</li>
          <li>Compression ratio: ~10.63:1</li>
          <li>Bore & stroke:	75.5mm x 90mm</li>
          <li>Crankshaft: stock</li>
          <li>Oil pump: stock</li>
          <li>Sleeves: stock</li>
          <li>Headstuds: ARP</li>
        </ul>
        <strong>Cylinder head: D14Z1</strong>
        <ul class="list-disc">
          <li>3-angle valve job, phosphorus bronze valve guides, flowed and ported</li>
          <li>Valves: OMI-Performance high compression valves</li>
          <li>Retainers: stock</li>
          <li>Valvesprings: OMI-Performance SPEC1 valvesprings</li>
          <li>Camshaft: Custom grinded D14Z1 by Newman</li>
          <li>Camgear: HKS camgear</li>
        </ul>
        <strong class="block">Intake:</strong>
        Jenvey individual throttle bodies 42mm with Jenvey turbo plenum
        <strong class="block">ECU:</strong>
        eCtune with OBD2b conversion harnass
        <strong class="block">Engine mounts:</strong>
        Innovative 95A polyurethane
        <strong class="block">Turbo:</strong>
        Honeywell-Garret GT3076R
        <ul class="list-disc">
          <li>Dual ball bearing</li>
          <li>.56 compressor wheel trim</li>
          <li>.60 A/R compressor</li>
          <li>.84 turbine wheel trim</li>
          <li>.63 A/R turbine</li>
          <li>Water and oilcooled</li>
        </ul>
        <br />
        <ul class="list-disc">
          <li>Intercooler: 550mm*140mm*65mm</li>
          <li>BOV: GoFastBits Mach1</li>
          <li>Wastegate: Tial 38mm</li>
          <li>Header: Custom made by Yahoon's weldings production</li>
          <li>Exhaust: 2,5" downpipe, custom 2,5" stainless steel exhaust line, no cat and mufflers</li>
        </ul>
        <strong class="block">Transmission</strong>
        Honda D15 S20 housing (35mm bearings)
        <ul class="list-disc">
          <li>1st gear: 3.25 (D13/ D15)</li>
          <li>2nd gear: 1.9 (D13/ D15)</li>
          <li>3rd gear (straight cut): 1.565 (mFactory)</li>
          <li>4th gear: 1.25 (reused D13/D15 3rd gear)</li>
          <li>5th gear (straight cut): 1.00 (mFactory)</li>
          <li>Final drive: 4.25 (D14)</li>
          <li>Carbonized synchro rings</li>
          <li>mFactory Helical LSD</li>
          <li>HEL performance clutchline</li>
          <li>Flywheel:	F1 racing aluminium</li>
          <li>Clutch: Clutchmasters FX400 6-puck</li>
        </ul>
        <strong>Cooling</strong>
        <ul class="list-disc">
          <li>Koyorad Aluminium radiator (48mm core)</li>
          <li>Setrab oil cooler</li>
        </ul>
        <strong>Fuel system</strong>
        <ul class="list-disc">
          <li>Bosch 440cc fuel injectors</li>
          <li>Euro 98 fuel</li>
          <li>Walbro 255lph fuel pump</li>
        </ul>
        <strong class="block">Power</strong>
        Dyno 02-09-2015
        <ul class="list-disc">
          <li>Max horsepower: 242hp @ 7715rpm</li>
          <li>Max torque: 255Nm @ 5250rpm</li>
          <li>0.8 bar / 13psi boost</li>
        </ul>
      </div>
    </div>
    <Cusdis />
  </div>
</template>