<template>
  <div>
  <div class="card w-full bg-stone-50 text-stone-900 rounded-tl-none rounded-tr-none">
    <div class="card-body">
      At this moment, I'm building a K20A2 engine into my Civic. Before this setup, I was full into the D-serie engines.
      <ul class="list-disc pl-8">
        <li><nuxt-link to="engine/k20a2">K20A2</nuxt-link></li>
        <li><nuxt-link to="engine/d16z6">D16Z6</nuxt-link></li>
        <li><nuxt-link to="engine/d14z1">D14Z1</nuxt-link></li>
      </ul>
    </div>
  </div>
  <Cusdis />
</div>
</template>