<template>
  <div>
    <div class="card w-full bg-stone-50 text-stone-900 rounded-tl-none rounded-tr-none">
      <div class="card-body">
        <h3 class="text-xl">2023</h3>
        <h4 class="text-lg">March</h4>
        Shakedown on TT Circuit Assen (26-03-2023)
        <iframe title="Shakedown K20A2" width="100%" src="https://tube.sebastix.com/videos/embed/a7cd43b2-b11e-4021-9b19-89bd4b50c56a" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
        <h4 class="text-lg">January</h4>
        <ul>
          <li>Driveshaft Shop swap axles</li>
        </ul>
        <h3 class="text-xl">2022</h3>
        <h4 class="text-lg">November</h4>
        Retune at the dyno<br />
        226hp @ 7311rpm<br />
        237Nm @ 5359rpm
        <iframe title="Honda Civic dyno K20A2" width="100%" src="https://tube.sebastix.com/videos/embed/bf6d4dfb-82c2-423a-b4a9-ebce05aa599e" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
        Fire up the engine
        <iframe title="Fire-up K20A2" width="100%" src="https://tube.sebastix.com/videos/embed/e36aab9a-ac0c-4833-8143-fa44cda9f31d" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
        <ul>
          <li>3" stainless steel exhaust</li>
          <li>Simons universal mid-muffler "turbex"</li>
          <li>Vibrant performance streetpower muffler</li>
          <li>Grams fuel line and filter</li>
          <li>MPC fuel rail</li>
          <li>Custom 3" intake with velocity stack airfilter</li>
        </ul>
        <h4 class="text-lg">October</h4>
        <ul>
          <li>New distribution chain</li>
          <li>New oilpump chain</li>
          <li>New crankshaft seal</li>
          <li>Blox oil pan baffle</li>
          <li>New TPS sensor</li>
          <li>Hasport EKK2 engine swap mounts U70A</li>
          <li>New fanswitch sensor</li>
          <li>New stage1 clutch from Action Clutch</li>
          <li>New multibelt</li>
          <li>Honda EG subframe</li>
        </ul>
        <vue-picture-swipe :items="itemsOctober2022"></vue-picture-swipe>
        <h4 class="text-lg">September</h4>
        <p>I bought a K20A2-swapped Honda Civic EK3. This engine is imported from the UK to The Netherlands with 156km.</p>
        <vue-picture-swipe :items="itemsSeptember2022"></vue-picture-swipe>
      </div>
    </div>
    <Cusdis />
  </div>
</template>
<script>
export default {
  data() {
    return {
      itemsOctober2022: [
        {
          src: require('~/assets/images/engine/k20a2/swapped.jpeg'),
          thumbnail: require('~/assets/images/engine/k20a2/swapped.jpeg'),
          h: '100%',
          w: 0,
        },
        {
          src: require('~/assets/images/engine/k20a2/actionclutch.jpeg'),
          thumbnail: require('~/assets/images/engine/k20a2/actionclutch.jpeg'),
          h: '100%',
          w: 0,
        },
        {
          src: require('~/assets/images/engine/k20a2/fanswitch.jpeg'),
          thumbnail: require('~/assets/images/engine/k20a2/fanswitch.jpeg'),
          h: '100%',
          w: 0,
        },
        {
          src: require('~/assets/images/engine/k20a2/blox-baffles.jpeg'),
          thumbnail: require('~/assets/images/engine/k20a2/blox-baffles.jpeg'),
          h: '100%',
          w: 0,
        },
        {
          src: require('~/assets/images/engine/k20a2/maintenance.jpeg'),
          thumbnail: require('~/assets/images/engine/k20a2/maintenance.jpeg'),
          h: '100%',
          w: 0,
        },
      ],
      itemsSeptember2022: [
        {
          src: require('~/assets/images/engine/k20a2/donor-ek3.3.jpeg'),
          thumbnail: require('~/assets/images/engine/k20a2/donor-ek3.3.jpeg'),
          h: '100%',
          w: 0,
        },
        {
          src: require('~/assets/images/engine/k20a2/donor-ek3.2.jpeg'),
          thumbnail: require('~/assets/images/engine/k20a2/donor-ek3.2.jpeg'),
          h: '100%',
          w: 0,
        },
        {
          src: require('~/assets/images/engine/k20a2/donor-ek3.1.jpeg'),
          thumbnail: require('~/assets/images/engine/k20a2/donor-ek3.1.jpeg'),
          h: '100%',
          w: 0,
        }
      ]
    }
  }
}
</script>