<template>
  <div class="card w-full bg-stone-50 text-stone-900 mt-4">
    <div class="card-body p-4 font-mono">
      <h5 class="w-full text-center">Leave a reply</h5>
      <vue-cusdis
          :attrs="{
              host: 'https://cusdis.com',
              appId: 'a344bafc-6d1d-4a67-aa26-1e8ca53303d3',
              pageId: 'hondacivic-sebastix-dotcom-'+this.$route.name,
              pageTitle: 'Honda Civic Sebastix | '+this.$route.name,
              pageUrl: 'https://hondacivic.sebastix.com'+this.$route.path
            }"
      ></vue-cusdis>
    </div>
  </div>
</template>
<script>
import VueCusdis from 'vue-cusdis/dist/vue2.es'
export default {
  components: { VueCusdis },
}
</script>