<template>
  <footer class="footer footer-center py-4 text-base-content">
    <div class="w-full">
      <h3 class="text-left pl-4 w-full">Get notified when I've a new update</h3>
      <form method="post" action="https://mailings.sebastix.dev/subscription/form" class="listmonk-form w-full">
        <input type="hidden" name="nonce" />
        <input type="email" name="email" required placeholder="Your e-mail" class="input input-bordered w-full" />
        <p class="hidden">
          <input id="64997" type="checkbox" name="l" checked value="649975d6-ae32-4aea-a87d-3deb6fc1a361" />
          <label for="64997">hondacivic.sebastix.com</label>
        </p>
        <input type="submit" class="btn btn-primary w-full mt-2" value="📨 Sign up for the mailing list" />
      </form>
    </div>
    <div>
      <h6>Sponsors</h6>
      <a href="https://takataracing-benelux.com" class="badge badge-sm badge-outline p-4" target="_blank">Takata Racing Benelux</a>
      <a href="https://antilagperformance.eu" class="badge badge-sm badge-outline p-4" target="_blank">Anti-lag Performance</a>
    </div>
    <div>
      <p class="text-sm">
        © {{ new Date().getFullYear() }} - <a href="https://sebastix.nl" target="_blank">Sebastix</a>
        <br />
        Made with NuxtJS - <a href="https://gitlab.com/Sebastix/hondacivic.sebastix.com" target="_blank">codebase on Gitlab</a>
      </p>
    </div>
  </footer>
</template>