<template>
  <div class="hero h-96">
    <nuxt-img
        src="header_civic_square.jpeg"
        class="opacity-50"
        fit="cover"
    />
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-48 text-5xl font-bold">Honda Civic Sebastix</h1>
        <p class="mb-4">Modified Honda Civic EJ9 1999</p>
        <p>"met open vizier recht op je doel afgaan"</p>
      </div>
    </div>
  </div>
</template>
<style scoped>

</style>