<template>
  <nav class="flex justify-evenly items-center mt-6 px-4">
    <NuxtLink to="/" class="justify-self-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
      </svg>
    </NuxtLink>
    <select name="menu" class="select select-primary w-3/4" @change="menuChange($event)">
      <option value="none">--- View modifications</option>
      <option v-for="(menu_item, index) in menu_options" :value="index">{{ menu_item }}</option>
    </select>
  </nav>
</template>
<script>
export default {
  data(){
    return {
      menu_options: {
        'engine': 'Engine',
        'exterior': 'Exterior',
        'interior': 'Interior',
        'suspension': 'Suspension',
        'wheels_tyres': 'Wheels, tyres and brakes',
      },
    }
  },
  methods: {
    menuChange(event) {
      if (event.target.value !== 'none') {
        this.$router.push('/'+event.target.value);
      }
    }
  }
}
</script>