<template>
  <div>
    <div class="tabs w-full mt-6">
      <nuxt-link to="/engine/k20a2" class="tab tab-lifted tab-lg">K20A2</nuxt-link>
      <nuxt-link to="/engine/d16z6" class="tab tab-lifted tab-lg">D16Z6</nuxt-link>
      <nuxt-link to="/engine/d14z1" class="tab tab-lifted tab-lg">D14Z1</nuxt-link>
    </div>
    <NuxtChild  />
  </div>
</template>
<style scoped lang="scss">
  .nuxt-link-active {
    color: hsl(var(--p));
    background-color: #fafaf9;
    border-bottom-color: #fafaf9;
  }
</style>