<template>
  <div>
    <div class="card w-full bg-stone-50 text-stone-900">
      <div class="card-body">
        <ul class="list-disc">
          <li>OEM Honda color R505P (Cayenne Red Metallic)</li>
          <li>Honda EK4 window visors</li>
          <li>Honda Sport rear lip</li>
          <li>Honda EK9 spoiler</li>
          <li>Adjustable Seeker V2 replica wing on Honda EK9 backplate for Time Attack</li>
          <li>Honda EK9 grill</li>
          <li>Tsunami front lip</li>
          <li>Canards on front bumper</li>
          <li>Aerodynamics Invader carbonfiber bonnet</li>
          <li>Custom made splitter made of plywood</li>
          <li>Rear diffuser of polyester</li>
          <li>Takata sticker livery made by Blackfish Graphics (2015)</li>
        </ul>
      </div>
    </div>
    <div class="hidden carousel carousel-center max-w-md p-4 space-x-4 bg-neutral rounded-box mt-6">
      <div class="carousel-item">
        <img src="https://placeimg.com/250/180/arch" class="rounded-box" />
      </div>
      <div class="carousel-item">
        <img src="https://placeimg.com/250/180/arch" class="rounded-box" />
      </div>
      <div class="carousel-item">
        <img src="https://placeimg.com/250/180/arch" class="rounded-box" />
      </div>
    </div>
    <Cusdis />
  </div>
</template>