<template>
  <div>
    <h2 class="text-xl mb-8 px-4">Welcome to the homepage of my Honda Civic on the worldwideweb.</h2>
    <p class="text-sm italic text-right px-4">- Sebastian Hagens</p>
    <div class="card w-full bg-white mt-4">
      <figure>
        <nuxt-img
            src="/homepage/circuit1.jpeg"
            fit="cover"
        />
      </figure>
      <div class="card-body text-stone-900">
        <p>Building since 2004. Started with full stock EJ9 City model.</p>
        <ul class="menu">
          <li class="bg-primary mb-2"><NuxtLink to="engine/k20a2">> K20A2 engine setup</NuxtLink></li>
          <li class="bg-primary mb-2"><NuxtLink to="exterior">> Exterior</NuxtLink></li>
          <li class="bg-primary mb-2"><NuxtLink to="interior">> Interior</NuxtLink></li>
          <li class="bg-primary mb-2"><NuxtLink to="suspension">> Suspension</NuxtLink></li>
          <li class="bg-primary"><NuxtLink to="wheels_tyres">> Wheels, tyres and brakes</NuxtLink></li>
        </ul>
      </div>
    </div>
    <div class="card w-full bg-white mt-4">
      <div class="card-body">
        <h3 class="card-title text-center text-stone-900">Looking for parts I'm selling?</h3>
        <div class="card-actions justify-end">
          <a href="https://sebastix.notion.site/Garage-sale-Honda-Civic-96-00-9e5959b8f7084064975cb2a4ea4e16d6" target="_blank" class="btn btn-block btn-primary">Open my garage sale</a>
        </div>
      </div>
    </div>
    <Cusdis />
  </div>
</template>
<script>
import Suspension from "~/pages/suspension.vue";

export default {
  components: {Suspension},
  data() {
    return {
      items: [
        {
          src: require('~/assets/images/homepage/circuit1.jpeg'),
          thumbnail: require('~/assets/images/homepage/circuit1.jpeg'),
          h: '100%',
          w: 0,
        },
      ]
    }
  }
}
</script>