<template>
  <div>
    <div class="card w-full bg-stone-50 text-stone-900">
      <div class="card-body">
        <ul class="list-disc">
          <li>Seats: Takata Race Le Seat standard with FIA</li>
          <li>Takata RACE 2x2 harness FIA 2025 (driver)</li>
          <li>Takata Drift III belt (passenger)</li>
          <li>Innovate LC1 wideband + standalone gauge kit</li>
          <li>OMP fire extinguisher</li>
          <li>Killswitch with pull cable</li>
          <li>DFI oil pressure and temperature gauge</li>
          <li>Odyssey PC680 battery</li>
          <li>OMP 10-point collcage</li>
          <li>Honda EK9 cluster</li>
          <li>Honda EP3 shifter</li>
        </ul>
      </div>
    </div>
    <Cusdis />
  </div>
</template>