<template>
  <div>
    <div class="card w-full bg-stone-50 text-stone-900">
      <div class="card-body">
        <ul class="list-disc">
          <li>OMI-Performance SPEC SR prototype kit 12k front / 8k rear</li>
          <li>Ultra Racing 3-point front-upper strutbar</li>
          <li>Ultra Racing side floor bars</li>
          <li>Ultra Racing fender braces</li>
          <li>Ultra Racing 27mm swaybar front</li>
          <li>Ultra Racing 19mm swaybar rear</li>
          <li>Utra Racing front-lower strutbar on the subframe</li>
          <li>Energy Suspension polyurethane rear trailer arm bushings</li>
          <li>ASR reinforcement plate on back subframe</li>
          <li>Megan Racing control arms rear</li>
          <li>SPC camber/caster kit front</li>
          <li>Buddyclub P1 camber kit rear</li>
        </ul>
        <vue-picture-swipe :items="items"></vue-picture-swipe>
      </div>
    </div>
    <Cusdis />
  </div>
</template>
<script>
export default {
  data() {
    return {
      items: [
        {
          src: require('~/assets/images/suspension/swaybar-eg.jpeg'),
          thumbnail: require('~/assets/images/suspension/swaybar-eg.jpeg'),
          h: '100%',
          w: 0,
        },
      ]
    }
  }
}
</script>