<template>
  <div>
    <div class="card w-full bg-stone-50 text-stone-900">
      <div class="card-body">
        <strong>Front brakes</strong>
        <ul class="list-disc">
          <li>Discs: OEM 282mm</li>
          <li>Calipers: D2 6-pot</li>
          <li>Pads: OEM replacement</li>
        </ul>
        <strong>Rear brakes</strong>
        <ul class="list-disc">
          <li>Discs: 242mm discs</li>
          <li>Calipers: OEM Honda</li>
          <li>Pads: OEM replacement Mintex pads</li>
        </ul>
        <strong>Tyres</strong>
        <ul class="list-disc">
          <li>Toyo Proxes T1R 225/50/15 (street)</li>
          <li>Team Dynamics PRO Race 1.2 15" 7J ET35</li>
        </ul>
      </div>
    </div>
    <Cusdis />
  </div>
</template>